.project-container {
  width: 90%;
  min-height: 100%;
  margin: 5% auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-card {
  margin: 1% 0;
}

.project-card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border-radius: 10px;
  background: #333644;
}

.project-image {
  flex: 1;
  img {
    border-radius: 10px;
  }
}

.project-content {
  margin: 2%;
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h3 {
    margin: 0;
    padding: 0;
    color: #fffafa;
  }

  p {
    color: #ccc;
    margin: 0;
    padding: 2% 2% 2% 0;
  }

  button {
    cursor: pointer;
    margin: 1% 0 1% 0;
    width: 20%;
    padding: 5px;
    background-color: #ffd52a;
    border: none;
    color: #333644;
    display: inline-block;
    font-size: 14px;
    border-radius: 5px;

    &:hover, &:focus {
      background-color: #f7c600;
      border-radius: 4px;
      outline: none;
    }
  }
}

$tablet-breakpoint: 768px;
$phone-breakpoint: 414px;

@media (max-width: $tablet-breakpoint) {
  .project-container {
    width: 80%;
    padding: 12% 0;
  }

  .project-card {
    margin: 5% 0;
  }
    
  .project-card-grid {
    flex-direction: column;
  }

  .project-content {
    margin: 5%;

    button {
      width: 30%;
    }
  }
}

@media (max-width: $phone-breakpoint) {
  .project-container {
    width: 80%;
    padding: 25% 0;
  }

  .project-card {
    margin-bottom: 10%;
  }

  .project-content {
    margin: 8%;

    button {
      width: 50%;
    }

    p {
      padding: 4% 0;
    }
  }
}