.button {
  cursor: pointer;
  margin: 1% 0 1% 0;
  padding: 8px;
  background-color: #ffd52a;
  border: none;
  color: #333644;
  display: inline-block;
  font-size: 14px;
  border-radius: 5px;

  &--big {
    width: 150px
  }

  &--small {
    width: 50px;
  }

  &:hover, &:focus {
    background-color: #f7c600;
    border-radius: 4px;
    outline: none;
  }  
}