@import '~assets/base/breakpoints/breakpoints';
@import '~assets/base/colors/colors';

.button {
  cursor: pointer;
  margin: 1% 0 1% 0;
  padding: 8px;
  background-color: getColor(yellow, primary);
  border: none;
  display: inline-block;
  border-radius: 5px;

  &--big {
    width: 100%
  }

  &--small {
    padding: 12px;
    text-transform: uppercase;
    width: 15%;
  }

  &:hover, &:focus {
    background-color: getColor(yellow, secondary);
    border-radius: 4px;
    outline: none;
  }  
}

@media (max-width: $phone) {
  .button {
    &--small {
      padding: 10px;
      width: 100%;
    }
  }
}