@import '~assets/base/breakpoints';
@import '~assets/base/colors/colors.scss';

.accordion {
  cursor: pointer;
  position: relative;
  width: 28%;
  height: 100%;
  margin: 2%;

  &__content {
    border: 1px solid getColorAndTone(grey, primary);
    border-radius: 5px;
    padding: 0;
    
    &:hover .overlay {
      display: block;
    }

    &--hideOverlay {
      &:hover .overlay {
        display: none;
      }
    }
    
    &:focus {
      outline: none;
    }
  }
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: none;
  transition: .5s ease;
  background-color: getColorAndTone(black, secondary);

  &--hide {
    opacity: 0;
  }
}

.project-text {
  color: getColorAndTone(white, primary);
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  text-transform: uppercase;
}

.project-image {
  border-radius: 5px;
}

.collapse, .collapsing {
  border: 1px solid getColorAndTone(grey, secondary);
  background-color: getColorAndTone(white, primary);
  padding: 10px;
  border-top: none;
  box-shadow: none;
}

.project-card-button {
  display: flex;
  flex-direction: column;
  align-items: center;
}


@media (max-width: $tablet-portrait) {
  .accordion {
    width: 45%;
  }
}

@media (max-width: $phone) {
  .accordion {
    width: 100%;
    margin-bottom: 30px;
  }
}