@import '~assets/base/breakpoints';
@import '~assets/base/colors/colors.scss';

.contact {
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .form {
    margin: 1% 10%;
    
    input[type=text], textarea {
      width: 100%;
      padding: 12px;
      margin-bottom: 30px;
      border: 1px solid getColor(grey, primary);
      border-radius: 4px;
    }

    textarea {
      height: 100px;
    }
  }
}

@media (max-width: $phone) {
  .contact {
    width: 80%;
    margin: 0 auto;

    .form {
      margin: 0 0 10px 0;

      input[type=submit] {
        width: 100%;
      }
    }
  }

}