@import '~assets/base/breakpoints';

.contact {
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .form {
    margin: 1% 10%;  
  }
}

@media (max-width: $phone) {
  .contact {
    width: 80%;
    margin: 0 auto;

    .form {
      margin: 0 0 10px 0;
    }
  }

}