@import "~assets/base/animation/animations";
@import "~assets/base/breakpoints/breakpoints";

.homepage {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;

  &__greeting {
    width: 35%;
  }

  &__animation {
    width: 55%;
  }
}

.homepage-heading {
  margin-bottom: 50px;
  animation: hello 1s;
}

.homepage-text {
  animation: slideInLeft 1s;
  animation-delay: 1s;
  animation-fill-mode: both;
}

#head {
  animation: head 1s infinite alternate;
  transform-origin: bottom;
}

#hand {
  animation: hand 1s infinite alternate;
}

#leaves {
  animation: leaves 5s ease-in-out infinite alternate;
  transform-origin: left;
}

@media (max-width: $tablet-portrait) {
  .homepage {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__greeting {
      width: 100%;
    }

    &__animation {
      width: 80%;
    }
  }

  .homepage-heading {
    text-align: center;
    margin-bottom: 15px;
  }

  .homepage-text {
    text-align: center;
    margin-bottom: 15px;
  }
}
