.primary {
  margin: 0;
  font-size: 90px;
  text-transform: uppercase;
  line-height: 100px;
  font-family: 'Lobster Two', cursive;
}

.secondary {
  margin: 0;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
}

.normal {
  margin: 0;
  font-size: 22px;
  line-height: 50px;
  font-weight: bold;
}

.colorful {
  margin: 0;
  font-size: 22px;
  font-family: 'Lobster Two', cursive;
  letter-spacing: 2px;
  text-align: center;
  font-style: italic;
}