@import '~assets/animation/animations';

.alert-card {
  display: block;
  width: 100%;
  position: fixed;
  top: 65px;
  bottom: 700px;
  left: 0;
  color: #F6F6F6;
  animation: dropDown 0.5s ease;

  &--hide {
    display: none;
  }
}

.alert-type {
  &--success {
    background: #008000
  }
  
  &--failure {
    background: #EF233C
  }
}