@import '~assets/base/colors/colors.scss';
@import '~assets/base/animation/animations';

.alert-card {
  display: block;
  width: 100%;
  position: fixed;
  top: 65px;
  bottom: 700px;
  left: 0;
  color: getColor(white, primary);
  animation: alert 0.5s ease;

  &--hide {
    display: none;
  }
}

.alert-type {
  &--success {
    background: getColor(success, primary)
  }
  
  &--failure {
    background: getColor(failure, primary)
  }
}