.skill-container { 
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 5%;
  }
}

.skill-box {
  width: 25%;
  margin-right: 2%;
  padding: 2%;
  border-radius: 15px;
  background-color: #333644;
  box-shadow: 0 4px 6px rgba(0, 0, 0, .5);

  &__heading {
    width: 90%;
    margin: 5% auto;
    padding: 5px;
    text-align: center;
    background: #ffd52a;
  }

  li {
    padding: 3%;
    color: #fffafa;
  }
}

$tablet-breakpoint: 768px;
$phone-breakpoint: 414px;

@media (max-width: $tablet-breakpoint) {
  .skill-container { 
    padding: 12% 0;
  }

  .skill-grid {
    flex-wrap: wrap;
  }

  .skill-grid-box {
    flex: 0 40%;
    margin-bottom: 5%;
  }

  .stack-image {
    margin-top: 5%;
  }
}

@media (max-width: $phone-breakpoint) {
  .skill-container { 
    width: 80%;
    padding: 25% 0;
  }

  .skill-grid {
    flex-wrap: wrap;
  }

  .skill-grid-box {
    flex: 0 100%;
    margin-bottom: 10%;
  }

  .stack-image {
    margin-top: 5%;
  }
}