$palette: (
  black: (
    primary: #333644,
    secondary: rgba(0, 0, 0, .5)
  ), 
  yellow: (
    primary: #FFD52A,
    secondary: #F7C600,
    light: #FAE7CB
  ), 
  white: (
    primary: #F2F2F2,
  ),
  grey: (
    primary: #C0C0C0,
    secondary: #DDDDDD,
  ),
  success: (
    primary: #008000
  ), 
  failure: (
    primary: #EF233C
  ) 
);

@function getColor($color, $tone) {
  @warn map-get($palette,$color);
  @if map-has-key($palette,$color) {
    $color: map-get($palette,$color);
      @if map-has-key($color,$tone) {
        $tone: map-get($color,$tone);
        @return $tone;
      }
      @return null;        
  }
    @return null;
}