@import '~assets/base/breakpoints';
@import '~assets/base/colors/colors.scss';

.skill-box {
  width: 25%;
  margin-right: 2%;
  padding: 2%;
  border-radius: 15px;
  background-color: getColor(black, primary);
  box-shadow: 0 4px 6px rgba(0, 0, 0, .5);

  &__heading {
    width: 90%;
    margin: 5% auto;
    padding: 5px;
    text-align: center;
    background: getColor(yellow, primary);
  }

  li {
    padding: 3%;
    color: getColor(white, primary);
  }
}

@media (max-width: $tablet-portrait) {
  .skill-box {
    width: 35%;
    margin-bottom: 40px;
  }
}

@media (max-width: $phone) {
  .skill-box {
    width: 100%;
  }
}