@import '~assets/base/colors/colors.scss';

body, html, #root {
  height: 100%;
}

body {
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: getColorAndTone(black, primary);
  font-size: 14px;
}